@import 'variable';

// .f-1 {
// 	background: $black;
// 	color: $white;
// }

.heading {
	// background: $black;
	// color: $white;
	font-size: 45px;
}

.box {
	width: 100px;
	float: left;
	background: green;
}

