// @import 'variable';

.test {
	color: $dark-blue;
	// color: $white;
}

.red {
	color: green;
	.white {
		color: $white;
	}
}

.h1 {
	font-size: 50px;
	color: yellow;
}

.prefix {
	transition: width 2s;
}

